.git
.gitignore
README.md
docker-compose.yml
.env
.env.local
.env.*.local
log/*
tmp/*
public/assets
public/packs
node_modules
storage
.DS_Store
.byebug_history
.idea
.vscode
*.swp
*.swo
.coverage
.rake_tasks
